<%= render partial: "static_pages/navbar" %>
<div class="container" style="padding-top: 50px;">
	<h1>New Chat Room</h1>
	<div class="col-lg-4">
		<%= render 'form', chat_room: @chat_room %>
		<%= link_to 'Back', chat_rooms_path %>
		<%= link_to  "Log out chat", logout_chat_path, :method => :delete %>
	</div>

</div>